* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.4;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #82d188;
	color: #9b0505;
}

div {
	text-align: center;
	margin: 50px;
}

header {
	text-align: center;
	font-size: 16px;
	color: #790303;
	margin-top: 35px;
}

footer {
	text-align: center;
	font-size: 16px;
	color: #790303;
	margin-bottom: 35px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
	font-weight: bolder;
	margin-bottom: 25px;
}

img {
	width: 550px;
	border-style: outset;
	border-color: #0b6917;
	border-radius: 4px;
}

#rios_pt {
	width: 700px;
	margin-bottom: 5px;
}

.rios {
	margin: 250px;
	margin-bottom: 50px;
	margin-top: 25px;
}

.rios h2{
	text-align: center;
}

.rios table {
	width: 100%;
	border-collapse: collapse;
}

.rios th {
	background-color: #1b962c;
	columns: #790303;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid #0b6917;
	text-align: center;
}

.rios td {
	text-align: center;
	border: 1px solid #0b6917;
	font-size: 16px;
	font-weight: lighter;
}

.rios_intro {
	display: flex;
	justify-content: center;
	gap: 15px;
	flex-wrap: wrap;
	margin: 0px;
}

.rio_intro {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	margin-bottom: 0px;
	width: 1000px;
	border-style: dotted;
	border-radius: 4px;
	border-color: #0b6917;
	padding: 5px;
}

.rios_img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 275px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.rios_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 275px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.rio_img {
	height: 250px;
	width: 200px;
}

button {
	background-color: #82d188;
	color: #9b0505;
	border-style: outset;
	border-color: #0b6917;
	border-radius: 4px;
	font-weight: bolder;
	padding: 2px;
}

.pag {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 50px;
}
