* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.4;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #82d188;
	color: #9b0505;
}

div {
	text-align: center;
	margin: 50px;
}

header {
	text-align: center;
	font-size: 16px;
	color: #790303;
	margin-top: 35px;
}

footer {
	text-align: center;
	font-size: 16px;
	color: #790303;
	margin-bottom: 35px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
	font-weight: bolder;
	margin-bottom: 25px;
}

img {
	width: 550px;
	border-style: outset;
	border-color: #0b6917;
	border-radius: 4px;
}

.monumentos {
	display: flex;
	justify-content: center;
	gap: 15px;
	flex-wrap: wrap;
	margin: 0px;
}

.img_leg {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mon {
	height: 350px;
}

.intro {
	text-align: justify;
}

.intro h2{
	text-align: center;
}

button {
	background-color: #82d188;
	color: #9b0505;
	border-style: outset;
	border-color: #0b6917;
	border-radius: 4px;
	font-weight: bolder;
	padding: 2px;
}

.pag {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 50px;
}

#ante {
	display: none;
}
